{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
<style>
    .companypage {
        margin: 10px;
        padding: 10px;
    }
</style>

<div class="companypage">
    <div class="columns">
        <div class="column is-two-thirds">

            <head>
                <h1 class="title"> Company List</h1>
            </head>
        </div>
    </div>

    <!-- Could be temporary, could not be -->
    <hr>
    <div class="column is-two-thirds">
        {% for company in companies %}
        <div>
            <p>ID Number: {{ company.company_id }} </p>
            <p>Office Location: {{ company.company_hq_street }} {{ company.company_hq_city }}, {{
                company.company_hq_state }} {{ company.company_hq_zip }}</p>
            <p>Phone Number: {{ company.company_hq_phone_area }}-{{ company.company_hq_phone_number }}</p>
            <p>Fax Number: {{ company.company_hq_fax_area }}-{{ company.company_hq_fax_number }}</p>
        </div>
        <hr>
        {% endfor %}
    </div>
</div>



{% endblock %}