
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">


<style>
  .margins {
    margin: 10px;
    padding: 10px;
  }
</style>
<div class=margins>
<header>
    <nav class="breadcrumb">
      <div class="container-fluid">
        <ul class="nav">
          <li class="active"><a href="http://127.0.0.1:5000/">Home</a></li>
          <li><a href="http://127.0.0.1:5000/">Available Listings</a></li>
          <li><a href="http://127.0.0.1:5000/add_listing">Add Listing</a></li>
          <li><a href="http://127.0.0.1:5000/">Agents</a></li>
          <li><a href="http://127.0.0.1:5000/">Companies</a></li>
        </ul>
      </div>
    </nav>
</header>
</div>