
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">


<style>
  .margins {
    margin: 10px;
    padding: 10px;
  }
</style>
<div class=margins>
<header>
    <nav class="breadcrumb">
      <div class="container-fluid">
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/listing">Available Listings</a></li>
          <li><a href="/add_listing">Add Listing</a></li>
          <li><a href="/all_agents">Agents</a></li>
          <li><a href="/all_companies">Companies</a></li>
          <li><a href="/all_clients">Clients</a></li>
        </ul>
      </div>
    </nav>
</header>
</div>