
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">


<style>
  .margins {
    margin: 10px;
    padding: 10px;
  }
</style>
<div class=margins>
<header>
    <nav class="breadcrumb">
      <div class="container-fluid">
        <ul class="nav">
          <li class="active"><a href="home.html">Home</a></li>
          <li><a href="listing_search.html">Available Listings</a></li>
          <li><a href="agent.html">Agents</a></li>
          <li><a href="company.html">Companies</a></li>
        </ul>
      </div>
    </nav>
</header>
</div>