{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
<style>
  .welcomepage{
    margin: 20px;
    padding: 20px;
  }
  .center{
    text-align: center;
  }
  .margin{
    margin: 20px;
    padding: 20px;
  }
  .red{
    color: red;
  }

</style> 

<div class ="welcomepage">
  <div class="center">
  <div class="columns">
    <div class="column is-full">
    <head>
      <div class ="red">
      <h1 class="title">Welcome to RED</h1>
      </div>
    </div>
    </head>
  </div>
  <body>
    <div class="column is-full">
    <div class ="margin">
      <figure class="image is-256x256">
      <img src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?cs=srgb&dl=pexels-binyamin-mellish-106399.jpg&fm=jpg" alt="housepic">
      </figure>
    </div>
    </div>
    <div class="column is-full">
      <h2 class="subtitle">Whether you're buying, selling, or renting, we can help!!! </p>
      <p>Description:</p>
      </h2>
    </div>
  </body>
  </div>
</div>
{% endblock content %}