
{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
<!-- Content of the page should go here -->

<style>
  .listingaroundpage{
    margin: 10px;
    padding: 10px;
  }
  .center{
    text-align: center;
  }
  .listing{
    margin: 5px;
    padding: 5px;
  }

</style>   




    <div class ="listingaroundpage">
      <div class ="listing">
      <div class="center">
      <div class="box">
      <div class="columns">
        <head>
        <div class="column is-two-fifths">
          <figure class="image is-256x256">
            <img src="https://hgtvhome.sndimg.com/content/dam/images/hgtv/fullset/2019/2/7/3/BP_HHMTN310_Bolden_home-exterior_AFTER_0132.jpg.rend.hgtvcom.966.644.suffix/1549585070420.jpeg">
          </figure>
        </div>
        <div class="column">
          <h1 class="title">{{ address_number }} {{ address_street }}
            <br>{{ address_city }}, {{ address_state }} 
            <br>{{ address_zip }}
          </h1>
          <br>
          <h2 class="subtitle">
            <p> Status: {{ listing.status }} </p>
            <p> Sale: {{ listing.sale_yn }} </p>
            <p> Rent: {{ listing.rent_yn }} </p>
            <p> Price: {{ listing.price }} </p>
          </h2>
      </div>
        </div>
        </head>
      </div>
      </div>
      </div>
        
    

      <div class ="listing">
      <body>
        <div class="columns">
          <div class="column is-two-fifths">
            <div class="block">
            <p> {{ description }} </p>
            </div>
            <div class="block">
            <p> MLS Number: {{ listing.mls_number }} </p>
            <p> Listing type: {{ listing.listing_type }} </p>
            <p> Original Price: {{ listing.original_price }} </p>
            <p> Structure Style: {{ listing.structure_style }} </p>
            <p> Bedroom count: {{ listing.bedroom_count }} </p>
            <p> Full Bathroom Count: {{ listing.full_bathroom_count }} </p>
            <p> Half Bathroom Count: {{ listing.half_bathroom_count }}</p>
            </div>
          </div>

          <div class="column">
            <div class="block">
            <p> Basement?: {{ listing.basement_yn }} </p>
            <p> Waterfront?: {{ listing.waterfront_yn }} </p>
            <p> Fireplace?: {{ listing.fireplace_yn }} </p>
            <p> Garage?: {{ listing.garage_yn }} </p>
            <p> Pool?: {{ listing.pool_yn }} </p>
            <p> Ownership: {{ listing.ownership }} </p>
            <p> School District Info: {{ listing.school_district }}</p>
            <p> Garage Car Count: {{ listing.garage_car_count }}</p>
            <p> Above Grade SqFt: {{ listing.above_grade_sqft }}</p>
            <p> Acreage: {{ listing.acreage }}</p>
            <p> Year Built: {{ listing.year_built }}</p>
            <p> Date listed: {{ listing.date_listed }} </p>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-full">
          <div class="column is-offset-one-quarter">
            <p> Agent License #: {{ listing.agent_license_number }}</p>
            <p> Colisting Agent License #: {{ listing.colisting_agent_license_number }}</p>
          
          </div>
          </div>
        </div>
      </body>
      </div>
    </div>
  
    
   

{% endblock content %}