{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">

<style>
  .listingsearch {
    margin: 10px;
    padding: 10px;
  }
</style>

<div class="listingsearch">
  <div class="columns">
    <div class="column is-two-thirds">

      <head>
        <h1 class="title">Search for Listing</h1>
      </head>
    </div>
  </div>
  <div class="column is-two-thirds">
    <form id="zip_search">
      <input type="search" id="listing_address_zip" name="listing_address_zip" placeholder="Search zip code...">
      <button>Search</button>
    </form>
  </div>

  <hr>

  <div class="columns">
    <div class="column is-two-thirds">
      {% for listing in listings %}
      <figure class="image is-128x128">
        <img src={{ listing.listing_image_links }}>
        <!--  <img src="https://hgtvhome.sndimg.com/content/dam/images/hgtv/fullset/2019/2/7/3/BP_HHMTN310_Bolden_home-exterior_AFTER_0132.jpg.rend.hgtvcom.966.644.suffix/1549585070420.jpeg">  -->
      </figure>

      <p>Address: {{ listing.listing_address_number }} {{ listing.listing_address_street }} {{
        listing.listing_address_city }}, {{ listing.listing_address_state }} {{ listing.listing_address_zip }}</p>
      <p>Price: {{ listing.listing_price }}</p>
      <p>Status: {{ listing.listing_status }}</p>
      <p> Full Bathroom Count: {{ listing.listing_full_bath_count }} </p>
      <p> Bedroom Count: {{ listing.listing_bedroom_count }} </p>

      <hr>
      {% endfor %}
    </div>
  </div>
</div>






{% endblock content %}